<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title> <%= pageTitle %> </title>
    <%/*We include the CSS*/ %> 
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
   
</head>
<body>
    <%- include("includes/navbar.ejs")%> <%/*We include navbar*/ %> 
    <div class="container">
        <div class="row" id="row">
            <div class="col-md-12">
                <form class="form-horizontal" name="programs-criteria" action="/programs/projects/criteria" method="POST">
                    <div class="form-group col-sm-3 mb-3">
                        <label for="name">Date</label>
                        <input type="date" class="form-control" name="date">
                    </div>

                    <div class="form-group col-sm-3 mb-3">
                        <p>Duration:</p>
                        <input type="radio" id="1" name="duration" value="1">
                        <label for="1">1</label>
                        <input type="radio" id="2" name="duration" value="2">
                        <label for="2">2</label>
                        <input type="radio" id="3" name="duration" value="3">
                        <label for="3">3</label>
                        <input type="radio" id="4" name="duration" value="4">
                        <label for="4">4</label>
                    </div>

                    
                    <button type="submit" class="btn btn-primary btn-submit-custom">Submit</button>
                </form>
            </div>
        </div>
        
    </div>
   
<script src="assets/bootstrap/js/bootstrap.min.js"></script>


</body>
</html>